/*
 * DOWNLOAD
 * a .btn which itself has links inside it, pretty atypical behavior
 */

#downloadbutton {
    /* override the .btn colors, to look like a .btn-alternate even during hover/active events like when we're expanded */
    background-color: #6472B9;
    color: white;
    &:hover, &:active {
        background-color: #6472B9;
        color: white;
    }

    width: 170px;
    max-width: 170px;
    min-width: 170px;
}


/* in order to make it expand over top of the map below, need absolute positioning and fixed width */
#downloadoptions {
    background-color: #6472B9;
    color: white;

    border-radius: 4px;
    padding: 10px;

    width: 170px;
    max-width: 170px;
    min-width: 170px;

    a {
        display: block;
        color: white;
        &:active, &:hover {
            color: #f99e26;
        }
    }

    position: absolute;
    top: 30px;
    right: 157px;
    z-index: 1000000;
}
