/*
 * CONSTANTS
 */

$nearblack: #000000;
$darkpurple: #293985;
$midpurple: #6472B9;
$lightpurple: #e6eaff;
$midgrey: #666666;
$lightgrey: #CCCCCC;
$lightlightgrey: #ececec;
$midorange: #f99e26;
$yellow: #feecd4;

$warnmessagebgcolor: #f99e26;
$warnmessagetextcolor: #000000;
